#div_border{
    width: 100%;
    background-color: #f2f2f2;
    min-height: 475px;
    padding-top: 3%;
}
#div_null_cart{
    width: 80%;
    margin-left: 10%;
    height: 350px;
    background-color: #fff;
    padding-top: 100px;
}
#img_div{
    float: left;
}
#right_null_cart{
    margin-left: 15%;
    border: 1px solid #fff;
    min-width: 225px;
}
#right_null_cart label{
    font-size: 12px;
    color: #666;
}
#right_null_cart a{
    font-size: 12px;
    color: #ff4f7c;
}
#inner_null_cart{
    width: 30%;
    margin-left: 35%;
}
#div_cut{
    height: 0;
}
ul{
    list-style: none;
}
.label_all_select{
    padding-top: 2px;
    vertical-align: middle;
    font-weight: 100;
}
.div_full_cart_top{
    width: 80%;
    margin-left: 10%;
    height: 30px;
}
.div_cart_item{
    width: 80%;
    margin-left: 10%;
    background-color: #fff;
    margin-top: 20px;
    padding-top: 20px;
}
.goods_img{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.a_title{
    display: inline-block;
    width: 80%;
    font-size: 12px;
    color: #333;
    text-align: left;
    vertical-align: middle;
}
.a_title:hover{
    cursor: pointer;
    text-decoration: none;
    color: #ff3366;
}
.div_seller_tr{
    height: 40px;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.store_tip{
    color: #999;
    margin-left: 20%;
    font-size: 12px;
}
.store_name{
    font-size: 12px;
    color: #333;
    text-decoration: none;
}
.store_name:hover{
    color: #ff3366;
    text-decoration: none;
}
.row{
    margin: 0;
}
.div_cart_item_tr{
    height: 80px;
    padding-top: 15px;
}
.data{
    color: #666;
    text-align: left;
    font-size: 12px;
    display: inline-block;
    width: 30%;
}
.title{
    font-size: 12px;
    color: #333;
    display: inline-block;
    width: 40px;
    text-align: right;
}
.col-xs-1, .col-xs-2, .col-xs-4{
    text-align: center;
}
.span_primary_price{
    text-decoration-line: line-through;
}
.count_tip{
    color: #fb5e00;
    font-weight: 700;
    display:block;
    text-align: center;
}
span.sy_minus,span.sy_plus {
    width: 20px;
    height: 27px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border: solid 1px #ddd;
    cursor: pointer;
    border-top: none;
    border-bottom: none;
    color: #CDC9C9;
}
input.sy_num {
    width: 20px;
    height: 20px;
    line-height: 24px;
    text-align: center;
    border: 0;
    padding-top: 5px;
    outline: none;
}
.buy_count{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: 68px;
    margin-left: 28%;
}
.a_delete{
    color: #333;
    text-decoration: none;
    font-size: 12px;
}
.a_delete:hover{
    color: #ef2f23;
    text-decoration: none;
    cursor: pointer;
}
.checkbox_label{
    margin-top: 15px;
}
#div_cart_bottom{
    margin-top: 20px;
    border-top: 1px solid #ddd;
}
input[type='checkbox']{
    outline: none;
}input[type='checkbox']:hover{
    cursor: pointer;
 }
#span_cart_goods_num{
    display: inline-block;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 5px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}
.span_count_tips{
    color: #fb5e00;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}
#total{
    font-size: 24px;
    color: #ef2f23;
    font-weight: 700;
    vertical-align: middle;
}
#to_pay{
    height: 100%;
    background: #ddd;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    display: inline-block;
    float: right;
    padding: 5px 10px;
    outline: none;
}
#div_right_bottom{
    padding-right: 0;
}
.div_bottom_left{
    margin-top: 10px;
}
a:hover{
    cursor: pointer;
}
#a_select_delete{
    color: #333;
    font-size: 12px;
}
#a_select_delete:hover{
    color: #ff3366;
}
#span_cart_item_num{
    color: #ff3366;
}