.img_order_item{
    width: 50px;
    height: 60px;
}
.order-data{
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
}
.img_order_del{
    width: 20px;
    height: 20px;
}
.img_order_del{
    cursor: pointer;
}
.order-title{
    font-size: 12px;
    text-align: center;
    padding: 0;
}
.div_del{
    text-align: right;
}
#order_tr{
    height: 40px;
    padding-top: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
}
.order_seller{
    border: 1px solid #ececec;
    background-color: #f5f5f5;
    padding: 10px 0;
}
#div_page{
    text-align: right;
}
#div_null_orders{
    padding: 30px 20px;
    height: 500px;
}
.price, .num{
    padding: 0;
    text-align: center;
}
.div_order{
    margin-top: 30px;
}
.div_order_item{
    margin-top: 10px;
}
.goods_title{
    height: 40px;
    width: 80%;
}
.order_bottom{
    padding-bottom: 20px;
    border: 1px solid #ececec;
    border-top: 0;
}
.order_right{
    vertical-align: middle;
}
.order-money{
    font-size: 16px;
    color: #ff3366;
    padding-top: 10px;
}
.order-status{
    padding-top: 10px;
}
.order-operate{
    padding-top: 10px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.submit_receive{
    display: inline-block;
    width: 70px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #333;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    font-size: 12px;
}
.submit_receive:hover{
    border: 1px solid #71b247;
    background-color: #71b247;
    color: #fff;
}
.pay_now{
    display: inline-block;
    width: 70px;
    height: 25px;
    background-color: #ff3366;
    border: 1px solid #ff3366;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    font-size: 12px;
    color: #fff;
}
.pay_now:hover{
    color: #fff;
    background-color: #ef2f23;
}
.order_reply{
    display: inline-block;
    width: 70px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #333;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    font-size: 12px;
}
.order_reply:hover{
    border: 1px solid #ff3366;
}