.div_goods_color {
    margin-left: 70px;
}
/*.input_check_color{
    float: left;
}
.input_goods_color{
    float: left;

}*/
.img_goods_color{
    width: 30px;
    height: 30px;
}
.input_up_file{
    width: 70px;
    z-index: 5;
    position: absolute;
    opacity: 0;
    height: 25px;
}
.input_up_css{
    width: 70px;
    z-index: 2;
    position: absolute;
    height: 25px;
    padding: 2px 3px;
}
.tr_goods_color{
    height: 40px;
    width: 70%;
}
.text_color{
    height: 32px;
}

/*.col-xs-7,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
    border: 1px solid;
}*/

.div_cloth_size{
    display: inline-block;
}
.label_size{
    float: left;
}
.div_cloth{
    margin-left: 70px;
}
.div_child_size{
    display: inline-block;
}
.div_shoe_size{
    display: inline-block;
}
#table_price_count{
    border-bottom: 0;
    width: 400px;
    margin-left: 70px;
}
#label_description{
    margin-top: 50px;
    /*border: 1px solid red;*/
    float: left;
}
#textarea_description{
    margin-top: 25px;
    overflow: hidden;
}
input{
    outline: none;
}
#label_goods_main{
    display: block;
    margin-top: 50px;
}
.div_goods{
    width: 120px;
    height: 120px;
    float: left;
    margin-left: 20px;
    border: 1px solid darkgray;
}
.img_goods_main{
    width: 118px;
    height: 118px;
    position: absolute;
    z-index: 5;
}
.input_up_goods_main{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    z-index: 5;
    opacity: 0;
}
.img_delete{
    width: 25px;
    height: 25px;
    margin-left: 90px;
    margin-top: 5px;
    display: block;
    position: absolute;
    z-index: 10;
}
.i_add_img{
    background: url("../img/add.png") no-repeat;
    width: 32px;
    height: 32px;
    margin-top: 44px;
    margin-left: 44px;
    position: absolute;
    z-index: 2;
}
#div_goods_detail{
    margin-top: 150px;
}
#input_up_goods_detail{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    z-index: 5;
    opacity: 0;
}
#div_goods_detail_add{
    border: 1px solid darkgrey;
    width: 120px;
    height: 120px;
}
.input_sub{
    margin-top: 50px;
}
#div_goods_info{
    width: 700px;
    min-height: 400px;
    border: 1px solid darkgray;
}
.img_goods_detail{
    width: 139px;
    height: 200px;
}
.img_delete_detail{
    width: 25px;
    height: 25px;
    margin-top: -155px;
    margin-left: -25px;
}
.div_goods_detail_img_img{
    width: 120px;
    display: inline;
    margin-left: 20px;
}
#goods_title{
    font-weight: 100;
    font-size: 12px;
}
.price_count_tr{
    /*border-bottom: 1px solid black;*/
    border-left: 1px solid darkgrey;
    margin: 0;
    height: 35px;
    padding-top: 5px;
}
.color_content{
    text-align: center;
}
.color_tr{
    margin: 0;
    border: 1px solid darkgrey;
}
.padding{
    padding: 0;
}
.price_count_title{
    border: 1px solid darkgrey;
    margin: 0;
    height: 35px;
    padding-top: 5px;
}