#table_goods_edit th,td{
    text-align: center;
    font-size: 12px;
    font-weight: 200;
}
#table_goods_edit td{
    height: 80px;
    padding-top: 30px;
}
.btn{
    width: 40px;
    height: 23px;
    padding: 3px 3px;
    font-size: 12px;
}
#table_goods_edit{
    width: 55%;
    position: absolute;

}
#div_page{
    text-align: right;
    width: 90%;
}
#div_cut{
    height: 0;
}
#div_goods_list{
    height: 450px;
}
.img_img1{
    width: 54px;
    height: 54px;
    margin-left: 5%;
}
.td_title{
    text-align: left;
}
.div_img{
    width: 60px;
    height: 50px;
    display: inline-block;
}
.div_title{
    display: inline-block;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}
.a_title{
    font-size: 12px;
    color: #0579c6;
}
.img_img1{
    border: 1px solid #F0F0F0;
}
.a_title:hover{
    color: #f60;
    cursor: pointer;
}
.a_img:hover{
    text-decoration: none;
    cursor: pointer;
}
.discount{
    width: 60px;
}
#div_activity{
    width: 600px;
    height: 200px;
    position: relative;
    z-index: 10;
    top: 23%;
    background-color: #EEE5DE;
    display: none;
}
.img_activity{
    width: 150px;
    height: 86px;
}
.div_in_activity{
    float: left;
    margin-left: 35px;
    margin-top: 45px;
}
.div_in_activity:hover{
    cursor: pointer;
}
.span_name{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #ff4136;
}
.activity{
    width: 60px;
}
#div_discount{
    background-color: #EEE5DE;
    width: 400px;
    height: 150px;
    position: relative;
    top: 23%;
    border-radius: 5px;
    text-align: center;
    display: none;
}
.label_discount{
    font-size: 12px;
    font-weight: 700;
    padding-top: 12%;
}
#span_close{
    float: right;
    margin-right: 5px;
}
#span_close:hover{
    cursor: pointer;
}