#accordion .panel{
    /*width: 70%;*/
    min-width: 140px;
    max-width: 215px;
}
#accordion a{
    text-decoration: none;
}
#accordion .panel-body{
    cursor: pointer;
    height: 45px;
}
.panel-body,.panel-title{
    text-align: center;
}
