<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="buyer_pay_process">
        <link rel="stylesheet" type="text/css" th:href="@{css/buyer_pay_process.css}"/>
        <div id="div_cart_top">
            <div id="div_cart_left">
                <img src="" th:src="@{/img/logo.png}" />
            </div>
            <div id="div_cart_right">
                <div class="div_process_picture">
                    <div class="round-gray round-active">1</div>
                    <div class="line-gray line-active"></div>
                    <div id="two" class="round-gray">2</div>
                    <div id="two_line" class="line-gray"></div>
                    <div id="three" class="round-gray">3</div>
                    <div id="three_line" class="line-gray"></div>
                    <div id="four" class="round-gray">4</div>
                </div>
                <div class="div_process_content">
                    <span class="content-gray content-active">购物车</span>
                    <span id="two_text" class="content-gray">确认订单</span>
                    <span id="three_text" class="content-gray">支付</span>
                    <span id="four_text" class="content-gray">完成</span>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</body>
</html>