<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="buyer_order_show">
        <script type="text/javascript" th:src="@{js/buyer_order_show.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{css/buyer_order_show.css}" />
        <div class="row" id="order_tr">
            <div class="col-xs-8">
                <div class="col-xs-8 order-title">商品</div>
                <div class="col-xs-1 order-title">单价</div>
                <div class="col-xs-1 order-title">数量</div>
                <div class="col-xs-2 order-title">商品操作</div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-4 order-title">实付款</div>
                <div class="col-xs-4 order-title">交易状态</div>
                <div class="col-xs-4 order-title">交易操作</div>
            </div>
        </div>
        <div id="div_null_orders" th:if="${session.orders.size() eq 0}">
            暂无相关订单！
        </div>
        <div class="row div_order" th:if="${session.orders != null}" th:each="order : ${session.orders}">
            <div class="row order_seller">
                <div class="col-xs-6 order-data" th:text="'下单时间：' + ${#dates.format(order.orderTime,'yyyy-MM-dd HH:mm:ss')} + '&nbsp;&nbsp;&nbsp;&nbsp;订单编号：' + ${order.orderNum}"></div>
                <div class="col-xs-3 order-data">
                    <span>店铺：<a th:text="${order.seller.storeName}"></a></span>
                </div>
                <div class="col-xs-3 div_del">
                    <img th:if="${order.orderStatus.id < 2 || order.orderStatus.id > 4}" class="img_order_del" src="" th:src="@{/img/delete(grey).png}" />
                    <input type="hidden" class="hiddenOrderId" th:value="${order.id}"/>
                </div>
            </div>
            <div class="row order_bottom">
                <div class="col-xs-8">
                    <div class="row div_order_item" th:each="orderItem : ${order.orderItems}">
                        <div class="col-xs-8">
                            <div class="col-xs-2">
                                <img class="img_order_item" src="" th:src="${orderItem.standard.colorImg}">
                            </div>
                            <div class="col-xs-10" style="padding-right: 0">
                                <a th:href="@{'buyer_goods_detail'(goodsId=${orderItem.standard.goods.id})}" class="order-data goods_title" th:text="${orderItem.standard.goods.title}"></a>
                                <span class="order-data order_item_standard" th:text="'颜色分类：' + ${orderItem.standard.color} + ' 尺码：' + ${orderItem.standard.size}"></span>
                            </div>
                        </div>
                        <div class="col-xs-1 price">
                            <span class="order-data" th:text="'￥' + ${#numbers.formatDecimal(orderItem.standard.price,0,2)}"></span>
                        </div>
                        <div class="col-xs-1 num">
                            <span class="order-data" th:text="${orderItem.buyCount}"></span>
                        </div>
                        <div class="col-xs-2">
                            <input type="hidden" class="orderItemId" th:value="${orderItem.id}"/>
                            <a class="order-data" th:if="${order.orderStatus.id > 3 && orderItem.backGoodsInfo eq null}" th:href="@{'buyer_back_goods'(orderItemId=${orderItem.id})}">申请售后</a>
                            <a class="order-data" th:if="${(order.orderStatus.id eq 2 || order.orderStatus.id eq 3) && orderItem.backGoodsInfo eq null}" th:href="@{'buyer_back_goods'(orderItemId=${orderItem.id})}">申请退款</a>
                            <a class="order-data complain_seller" th:if="${order.orderStatus.id > 1 && orderItem.complain == null}" data-toggle="modal" data-target="#complain">投诉卖家</a>
                            <span class="order-data" th:if="${orderItem.backGoodsInfo ne null}" th:text="${orderItem.backGoodsInfo.backStatus}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row order_right">
                        <div class="col-xs-4 order-money">
                            <span class="" th:text="'￥' + ${#numbers.formatDecimal(order.orderMoney,0,2)}"></span>
                        </div>
                        <div class="col-xs-4 order-status">
                            <span class="order-data" th:text="${order.orderStatus.status}"></span>
                            <a th:href="@{'buyer_order_info'(orderId=${order.id})}" class="order-data">订单详情</a>
                            <a th:href="@{'buyer_post_condition'(orderId=${order.id})}" class="order-data" th:if="${order.orderStatus.id eq 3}">查看物流</a>
                        </div>
                        <div class="col-xs-4 order-operate">
                            <a class="pay_now" th:if="${order.orderStatus.id eq 1}">立即付款</a>
                            <a class="submit_receive" th:if="${order.orderStatus.id eq 3}">确认收货</a>
                            <a class="order_reply" th:href="@{'buyer_order_reply'(orderId=${order.id})}" th:if="${order.orderStatus.id eq 4}">评价</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div_page" class="row">
            <ul class="pagination">
                <li th:class="${(session.orderCurrPage le 1) ? 'disabled':''}">
                    <a th:if="${session.orderCurrPage eq 1}" href="javascript:void(0)">&laquo;</a>
                    <a th:if="${session.orderCurrPage > 1}" th:href="@{'buyer_order_all'(orderCurrPage=1,small=${session.small},big=${session.big})}">&laquo;</a>
                </li>
                <li th:class="${(session.orderCurrPage le 1) ? 'disabled':''}">
                    <a th:if="${session.orderCurrPage eq 1}" href="javascript:void(0)">&lt;</a>
                    <a th:if="${session.orderCurrPage > 1}" th:href="@{'buyer_order_all'(orderCurrPage=${session.orderCurrPage - 1},small=${session.small},big=${session.big})}">&lt;</a>
                </li>
                <li><a href="#" th:text="${session.orderCurrPage}"></a></li>
                <li th:class="${(session.orderCurrPage eq session.orderPageCount) ? 'disabled':''}">
                    <a th:if="${(session.orderCurrPage eq session.orderPageCount)}" href="javascript:void(0)">&gt;</a>
                    <a th:if="${(session.orderCurrPage < session.orderPageCount)}" th:href="@{'buyer_order_all'(orderCurrPage=${session.orderCurrPage + 1},small=${session.small},big=${session.big})}">&gt;</a>
                </li>
                <li th:class="${(session.orderCurrPage eq session.orderPageCount)? 'disabled':''}">
                    <a th:if="${(session.orderCurrPage eq session.orderPageCount)}" href="javascript:void(0)">&raquo;</a>
                    <a th:if="${(session.orderCurrPage < session.orderPageCount)}" th:href="@{'buyer_order_all'(orderCurrPage=${session.orderPageCount},small=${session.small},big=${session.big})}">&raquo;</a>
                </li>
            </ul>
        </div>
        <div class="modal fade" id="complain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">投诉</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <input type="hidden" id="orderItemId"/>
                            <label>
                                <input type="radio" name="type" th:value="售假"/>
                                售假
                            </label>
                            <label>
                                <input type="radio" name="type" th:value="商品与描述不符"/>
                                商品与描述不符
                            </label>
                            <label>
                                <input type="radio" name="type" th:value="未按约定时间发货"/>
                                未按约定时间发货
                            </label>
                            <label>
                                <input type="radio" name="type" th:value="其他原因"/>
                                其他原因
                            </label>
                            <h5>问题描述：</h5>
                            <textarea id="complain_content" cols="75" rows="5"></textarea>
                            <div class="div_upload_img">
                                <input class="input_upload_img" type="file" multiple accept="image/jpeg, image/png, image/jpg"/>
                                <span class="span_upload_img">图片</span>
                                    <span class="span_reply_tip">限5张</span>
                            </div>
                            <div class="up_img"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="complain_tip"></span>
                        <button type="button" id="sub_complain" class="btn btn-primary">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</body>
</html>