<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:include="link :: index_header">
</header>
<head>
    <title th:text="${session.this_goods.title}"></title>
    <script th:src="@{http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{imagezoom/jquery.imagezoom.min.js}"></script>
    <script type="text/javascript" th:src="@{js/buyer_goods_detail.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/buyer_goods_detail.css}">
</head>
<body>
<div th:include="buyer_top ::buyer_top"></div>
<div th:include="buyer_seller_top :: buyer_seller_top"></div>
    <input type="hidden" id="buyerLikeGoods" th:value="${session.buyerLikeGoods}"/>
    <div id="div_goods_info_border">
        <div id="div_goods_info_inner">
            <div id="div_goods_left">
                <div id="div_goods_img_big" class="tb-pic">
                    <a href="javascript:void(0)">
                        <img class="jqzoom" src="" id="img_goods_big" th:src="${session.this_goods.goodsImg.img1}" th:rel="${session.this_goods.goodsImg.img1}">
                    </a>
                </div>
                <div id="div_goods_img_small">
                    <ul id="ul_goods_image" class="ul_goods_image">
                        <li class="tb-selected">
                            <a href="javascript:void(0)">
                                <img src="" class="img_goods_small" th:src="${session.this_goods.goodsImg.img1}" th:mid="${session.this_goods.goodsImg.img1}" th:big="${session.this_goods.goodsImg.img1}">
                            </a>
                        </li>
                        <li th:if="${session.this_goods.goodsImg.img2 != null}">
                            <a href="javascript:void(0)">
                                <img src="" class="img_goods_small" th:src="${session.this_goods.goodsImg.img2}" th:mid="${session.this_goods.goodsImg.img2}" th:big="${session.this_goods.goodsImg.img2}">
                            </a>
                        </li>
                        <li th:if="${session.this_goods.goodsImg.img3 != null}">
                            <a href="javascript:void(0)">
                                <img src="" class="img_goods_small" th:src="${session.this_goods.goodsImg.img3}" th:mid="${session.this_goods.goodsImg.img3}" th:big="${session.this_goods.goodsImg.img3}">
                            </a>
                        </li>
                        <li th:if="${session.this_goods.goodsImg.img4 != null}">
                            <a href="javascript:void(0)">
                                <img src="" class="img_goods_small" th:src="${session.this_goods.goodsImg.img4}" th:mid="${session.this_goods.goodsImg.img4}" th:big="${session.this_goods.goodsImg.img4}">
                            </a>
                        </li>
                        <li th:if="${session.this_goods.goodsImg.img5 != null}">
                            <a href="javascript:void(0)">
                                <img src="" class="img_goods_small" th:src="${session.this_goods.goodsImg.img5}" th:mid="${session.this_goods.goodsImg.img5}" th:big="${session.this_goods.goodsImg.img5}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="div_goods_right">
                <div id="div_goods_right_topper">
                    <form action="" method="post" id="subOrderForm">
                        <input id="goodsId" th:value="${session.this_goods.id}" type="hidden" name="id" />
                        <div class="div_right_inner" id="div_title">
                            <span class="span_title" th:text="${session.this_goods.title}"></span>
                        </div>
                        <div class="div_right_inner" id="div_price">
                            <div>
                                <span class="span_goods_th">价格 </span>
                                <span th:class="${session.this_goods.discount == 0 ? 'span_real_price' : 'span_price'}" th:text="'￥' + ${#numbers.formatDecimal(session.this_goods.minPrice,0,2)}"></span>
                            </div>
                            <div th:if="${session.this_goods.discount != 0}">
                                <span class="span_goods_th">促销价 </span>
                                <span class="span_real_price" th:if="${session.this_goods.discount != 0}" th:text="'￥' +${#numbers.formatDecimal(session.this_goods.minPrice - session.this_goods.discount,0,2)}"></span>
                            </div>
                        </div>
                        <div class="div_right_inner">
                            <span class="span_goods_th">月销量</span>
                            <span class="span_goods_td"></span>
                            <span class="span_goods_th">累计评价</span>
                            <span class="span_goods_td" th:text="${session.all_replies.size()}"></span>
                        </div>
                        <div id="div_close_buy_info" class="div_close">
                            <span class="span_close">×</span>
                        </div>
                        <div class="div_right_inner">
                            <span class="span_goods_th">颜色</span>
                            <div class="div_goods_color_img" th:each="colorMap : ${session.this_goods.colorMap}">
                                <input type="radio" name="goods_color" th:value="${colorMap.value}"/>
                                <img class="img_goods_color_img" src="" th:title="${colorMap.value}" th:src="${colorMap.key}"/>
                            </div>
                        </div>
                        <div class="div_right_inner">
                            <span class="span_goods_th">尺寸</span>
                            <div class="div_goods_size" th:each="size : ${session.this_goods.sizes}">
                                <input type="radio" name="goods_size" th:value="${size}" />
                                <span class="span_goods_size" th:text="${size}"></span>
                            </div>
                        </div>
                        <div class="div_right_inner">
                            <span class="span_goods_th">数量</span>
                            <div id="div_goods_count">
                                <span class="sy_minus glyphicon glyphicon-minus" id="sy_minus_gid1"></span>
                                <input class="sy_num" id="sy_num_gid" type="text" name="num" value="1" />
                                <span class="sy_plus glyphicon glyphicon-plus" id="sy_plus_gid1"></span>
                            </div>
                            <input type="hidden" id="all_count" th:value="${session.this_goods.allCount}"/>
                            <span class="goods_count">库存<i id="count" th:text="${session.this_goods.allCount}"></i>件</span>
                            <span id="span_error_num">库存不足</span>
                        </div>
                        <div id="div_submit">
                            <input class="input_submit btn-input" type="button" th:value="确认"/>
                        </div>
                        <div class="div_right_inner">
                            <div th:if="${session.this_goods.status eq true}">
                                <input type="submit" value="立即购买" class="btn-input input_buy"/>
                                <input type="button" value="加入购物车" class="input_cart"/>
                            </div>
                            <div th:if="${session.this_goods.status eq false}">
                                <span>该商品已经下架！</span>
                            </div>
                            <div id="div_like">❤
                                <span id="span_like_num" th:text="${session.goodsLikeCount}"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="div_buy_goods">
                    <div class="div_buy_title">
                        <span class="span_buy_info">选择商品信息</span>
                    </div>
                </div>
                <div id="add_cart_success">
                    <div id="div_close_add_cart" class="div_close">
                        <span class="span_close">×</span>
                    </div>
                    <div id="addCartTip">
                        <span id="span_add_cart_tip">已将商品加入到购物车</span>
                    </div>
                    <div id="div_button">
                        <input type="button" id="toCart" value="去购物车结算 &nbsp;&gt;">
                    </div>
                </div>
            </div>
            <div style="clear: both;height: 40px"></div>
            <div id="div_down">
                <div id="div_goods_left_down">
                    <div id="div_to_seller">
                        <div id="div_seller_name_down" th:text="${session.this_goods.seller.storeName}"></div>
                        <div id="div_seller_like_down">
                            <span id="span_like_seller" class="button">收藏店铺</span>
                            <a class="button">进入店铺</a>
                        </div>
                        <div id="div_search_in_seller">
                            <input type="text" id="input_search_in"/>
                            <span id="span_button_search">店内搜索</span>
                        </div>
                    </div>
                    <div id="div_category_in">
                        <div id="div_category_word">
                            本店分类
                        </div>
                        <ul id="ul_category_in_seller">
                            <li th:each="goods_types_in_seller : ${session.goods_types_in_seller}">
                                <a th:text="${goods_types_in_seller}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="div_goods_right_down">
                    <div id="div_middle">
                        <div id="div_goods_info_tab">
                            <ul id="ul_goods_info_nav">
                                <li class="active" id="li_goods_info">
                                    <a href="javascript:void(0)">商品详情</a>
                                </li>
                                <li id="li_goods_reply">
                                    <a href="javascript:void(0)">累计评价</a>
                                    <i class="reply_num" th:text="${session.all_replies.size()}"></i>
                                </li>
                                <li id="li_goods_category">
                                    <a href="javascript:void(0)">本店同类商品</a>
                                </li>
                            </ul>
                        </div>
                        <div id="div_goods_content">
                            <div class="div_goods_info">
                                <div id="div_goods_intro">
                                    <h1 class="h1_module">商品描述</h1>
                                    <br/>
                                    <span th:text="${session.this_goods.introduce}"></span>
                                </div>
                                <div id="div_goods_detail_image">
                                    <h1 class="h1_module">穿着效果</h1>
                                    <div th:each="goodsImgDetail : ${session.this_goods.goodsImgDetail}">
                                        <img th:src="${goodsImgDetail}" src=""/>
                                    </div>
                                </div>
                                <div id="div_goods_category_in">
                                    <h1 class="h1_module">本店同类商品</h1>
                                    <div th:if="${session.list_goods_category.size() eq 0}" style="height: 100px">
                                        暂无同类商品推荐
                                    </div>
                                    <div th:if="${session.list_goods_category.size() > 0}" th:include="buyer_goods_in_category :: goods_in_category_list">
                                    </div>
                                </div>
                            </div>
                            <div class="div_goods_reply">
                                <div class="div_goods_intro">
                                    <h1 class="h1_module">买家评价</h1>
                                </div>
                                <div id="div_reply_num">
                                    <div class="div_none_reply" th:if="${session.all_replies.size() eq 0}">
                                        还没有买家进行文字或晒图评价，等你来评价哦~
                                    </div>
                                    <div th:if="${session.all_replies.size() != 0}">
                                        <a class="reply_select reply_checked">全部评价（<i class="reply_num" th:text="${session.all_replies.size()}"></i>）</a>
                                        <a class="reply_select">有图（<i class="reply_num" th:text="${session.img_replies.size()}"></i>）</a>
                                        <a class="reply_select">好评（<i class="reply_num" th:text="${session.good_replies.size()}"></i>）</a>
                                        <a class="reply_select">中评（<i class="reply_num" th:text="${session.multi_replies.size()}"></i>）</a>
                                        <a class="reply_select">差评（<i class="reply_num" th:text="${session.bad_replies.size()}"></i>）</a>
                                    </div>
                                </div>
                            </div>
                            <div class="div_goods_category">
                                <h1 class="h1_module">本店同类商品</h1>
                                <div th:if="${session.list_goods_category.size() eq 0}" style="height: 100px">
                                    暂无同类商品推荐
                                </div>
                                <div th:if="${session.list_goods_category.size() > 0}" th:include="buyer_goods_in_category :: goods_in_category_list">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="div_extra">
                        <div id="div_extra_top">
                            <img id="add_img" th:src="@{img/addCart.png}" src=""/>
                            <span>加入购物车</span>
                        </div>
                        <div id="div_extra_bottom">
                            <ul id="ul_extra">
                                <li id="li_extra1">商品描述</li>
                                <li id="li_extra2">穿着效果</li>
                                <li id="li_extra3">商品推荐</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="footer :: footer"></div>

</body>
</html>