<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<body>
    <div th:fragment="footer">
        <link type="text/css" rel="stylesheet" href="../static/css/footer.css" th:href="@{/css/footer.css}"/>
        <div id="div_cut" class="div_cut"></div>
        <div id="div_footer_top"></div>
        <div class="div_footer_bottom">
            <div id="div_con">
                <span>Copyright ©2017 Higoo.com  电信与信息服务业务经营许可证888888号 经营性网站备案信息</span>
                <span>京ICP备11031139号  京公网安备110108006045   客服电话：8888-888-888  文明办网文明上网举报电话：888-88888888  违法不良信息举报中心</span>
            </div>
        </div>
    </div>
</body>
</html>