<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'卖家中心-' + ${session.currSeller.storeName}"></title>
    </head>
    <header th:include="link :: index_header">
    </header>
    <link rel="stylesheet" type="text/css" href="../static/css/seller_left.css" th:href="@{/css/seller_left.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/seller_top_title.css" th:href="@{/css/seller_top_title.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}" />
    <body>
        <div id="div_nav">
            <div id="div_seller_top">
                <a id="a_nickName" th:text="${session.currSeller.storeName}"></a>，
                <a id="a_exit" href="/seller_exit">退出</a>
                <a id="a_firstPage">嗨易购首页</a> |
                <a id="a_info" href="/seller_home">个人中心</a>
            </div>
            <div id="div_seller_bottom" class="container-fluid">
                <div id="div_logo" class="navbar-header">
                    <img src="../static/img/LOGO(White).png" th:src="@{img/LOGO(White).png}">
                </div>
                <div>
                    <ul id="ul_select" class="nav navbar-nav">
                        <li><a href="/seller_home">首页</a></li>
                        <li><a href="/seller_setting">基础设置</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="div_left">
            <div class="panel-group" id="accordion">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                商品管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" th:class="(${operate} == 'goods_operate') ? 'panel-collapse collapse in' : 'panel-collapse collapse'">
                        <div class="panel-body">
                            <a href="goods_category">发布商品</a>
                        </div>
                        <div class="panel-body">
                            <a href="goods_list_edit">编辑商品</a>
                        </div>
                        <div class="panel-body">
                            <a href="goods_discount">优惠设置</a>
                        </div>
                        <div class="panel-body">
                            <a href="goods_activity">参与活动</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success wid">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                订单管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" th:class="(${operate} == 'order_operate') ? 'panel-collapse collapse in' : 'panel-collapse collapse'">
                        <div class="panel-body">
                            <a href="">查看订单</a>
                        </div>
                        <div class="panel-body">
                            <a href="">评价管理</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success wid">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                售后管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" th:class="(${operate} == 'back_operate') ? 'panel-collapse collapse in' : 'panel-collapse collapse'">
                        <div class="panel-body">
                            <a href="">退款申请</a>
                        </div>
                        <div class="panel-body">
                            <a href="">退款记录</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success wid">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                物流管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" th:class="(${operate} == 'send_operate') ? 'panel-collapse collapse in' : 'panel-collapse collapse'">
                        <div class="panel-body">
                            <a href="">发货</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success wid">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                违规管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" th:class="(${operate} == 'error_operate') ? 'panel-collapse collapse in' : 'panel-collapse collapse'">
                        <div class="panel-body">
                            <a href="">违规记录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div_main" th:switch="${seller_status}">
            <div th:case="home_page">
                <div th:replace="seller_home_page :: seller_data"></div>
            </div>
            <div th:case="setting">
                <div th:replace="seller_setting :: setting"></div>
            </div>
            <div th:case="goods_category">
                <div th:replace="seller_goods_category :: goods_category"></div>
            </div>
            <div th:case="goods_publish">
                <div th:replace="seller_goods_publish :: goods_publish"></div>
            </div>
            <div th:case="goods_list_edit">
                <div th:replace="seller_goods_list_edit :: goods_list_edit"></div>
            </div>
            <div th:case="goods_edit">
                <div th:replace="seller_goods_publish :: goods_publish"></div>
            </div>
            <div th:case="goods_discount">
                <div th:replace="seller_goods_discount :: goods_discount"></div>
            </div>
            <div th:case="goods_activity">
                <div th:replace="seller_goods_activity :: goods_activity"></div>
            </div>
        </div>
        <div id="div_footer" th:include="footer :: footer"></div>
    </body>
</html>