<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <div th:fragment="seller_data">
        <link rel="stylesheet" type="text/css" th:href="@{css/seller_home_page.css}" />
        <div th:if="${session.currSeller.sellerStatus eq false && session.currSeller.stuff eq null}">
            您还没有提交申请材料，<a href="seller_up_stuff">点此提交</a>。
        </div>
        <div th:if="${session.currSeller.sellerStatus eq false && session.currSeller.stuff ne null && session.currSeller.stuff.stuffStatus eq false}">
            您的店铺还没有通过审核，请耐心等待！
        </div>
        <div th:if="${session.currSeller.sellerStatus eq false && session.currSeller.stuff ne null && session.currSeller.stuff.stuffStatus eq true}">
            您的店铺申请被拒绝了，拒绝原因：<span th:text="${session.currSeller.stuff.reason}"></span><br>
            <a href="seller_up_stuff">点此重新提交</a>
        </div>
        <div th:if="${session.currSeller.sellerStatus eq true && session.currSeller.stuff ne null && session.currSeller.stuff.stuffStatus eq true}">
            <table id="tbl_data">
                <tr id="tr_title">
                    <td colspan="2">
                        <p>实时数据</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../static/img/Order.png" th:src="@{img/Order.png}">
                        <span>昨日订单</span>
                    </td>
                    <td>
                        <img src="../static/img/Goods.png" th:src="@{img/Goods.png}">
                        <span>昨日出售</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../static/img/Pay.png" th:src="@{img/Pay.png}">
                        <span>昨日支付</span>
                    </td>
                    <td></td>
                </tr>
            </table>
            <div id="div_seller_info">
                <p class="p_big">违规提醒</p>
                <p class="p_small">违规记录</p>
                <p class="p_small">店铺积分</p>
                <p class="p_big">商品</p>
                <p class="p_small">出售中的商品</p>
                <p class="p_big">订单</p>
                <p class="p_small">订单总数</p>
            </div>
        </div>
    </div>

</body>
</html>