<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>嗨易购-店铺申请</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/seller_info_sub.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/footer.css}" />
    <script th:src="@{http://libs.baidu.com/jquery/2.1.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/seller_info_sub.js}"></script>
</head>
<body>
    <div class="top">
        <span>商家注册</span>
    </div>
    <div class="main">
        <span class="title">请上传申请材料</span>
        <form action="seller_stuff" method="post" enctype="multipart/form-data">
            <input type="hidden" value="${requestScope.sellerId}" id="sellerId" name="sellerId"/>
            <div class="background">
                <div>
                    <div class="single">
                        <div class="cardPhoto" >
                            <img src="" th:src="@{/img/model.png}" id="img_front" class="img">
                        </div>
                        <input type="hidden" name="faceImg" id="input_front"/>
                        <span class="tip">1.身份证个人信息页的照片，确保图片清晰，四角完整。</span>
                    </div>
                    <span class="tip_bottom">个人信息页</span>
                    <div>
                        <span class="upSpan">上传</span>
                        <input type="file" class="upBtn" name="stuff" id="front" accept="image/gif,image/jpeg,image/jpg,image/png">
                    </div>

                </div>
                <div>
                    <div class="single">
                        <div class="cardPhoto">
                            <img alt="" src="../static/img/model.png" th:src="@{/img/model.png}" id="img_back" class="img">
                        </div>
                        <input type="hidden" name="oppositeImg" id="input_back"/>
                        <span class="tip">2.身份证国徽页的照片，确保图片清晰，四角完整。</span>
                    </div>
                    <span class="tip_bottom">国徽页</span>
                    <div>
                        <span class="upSpan">上传</span>
                        <input type="file" class="upBtn" name="stuff" id="back" accept="image/gif,image/jpeg,image/jpg,image/png">
                    </div>
                </div>
                <div>
                    <div class="single">
                        <div class="cardPhoto">
                            <img alt="" src="../static/img/model.png" th:src="@{/img/model.png}" id="img_hand" class="img" >
                        </div>
                        <input type="hidden" name="handImg" id="input_hand"/>
                        <span class="tip">3.本人手持身份证照片，保证人证符合，本人面容清晰可辨。</span>
                    </div>
                    <span class="tip_bottom">本人手持身份证正面照片</span>
                    <div>
                        <span class="upSpan">上传</span>
                        <input type="file" class="upBtn" name="stuff" id="hand" accept="image/gif,image/jpeg,image/jpg,image/png">
                    </div>
                </div>

            </div>
            <span id="error-tip">信息不完善！</span>
            <input type="submit" class="btn" value="完成">
        </form>
    </div>
    <div th:include="footer :: footer"></div>
</body>
</html>