<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cslg.easyshopping.dao.BuyerDetailDao">
	<resultMap id="buyerDetailMap" type="edu.cslg.easyshopping.pojo.BuyerDetail">
		<id property="id" column="id"/>
		<result property="realName" column="realName"/>
		<result property="gender" column="gender"/>
		<result property="birthday" column="birthday"/>
		<result property="location" column="location"/>
		<result property="remark" column="remark"/>
	</resultMap>
	<insert id="saveBuyerDetail">
		INSERT INTO t_buyer_detail VALUES (#{id},'','',#{birthday},'','');
	</insert>
	<select id="getBuyerDetailById" resultMap="buyerDetailMap">
		SELECT * FROM t_buyer_detail WHERE id = #{0} ;
	</select>
	<update id="updateBuyerDetail" parameterType="edu.cslg.easyshopping.pojo.BuyerDetail">
		UPDATE t_buyer_detail SET realName = #{realName},gender = #{gender}, birthday = #{birthday},location = #{location},remark = #{remark} WHERE id = #{id};
	</update>
</mapper>