<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cslg.easyshopping.dao.ComplainDao">
	<resultMap id="complainMap" type="edu.cslg.easyshopping.pojo.Complain">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="content" column="content"/>
		<result property="cutScore" column="cutScore"/>
		<result property="complainTime" column="complainTime"/>
		<result property="checkFlag" column="checkFlag"/>
		<association property="orderItem" column="id" select="edu.cslg.easyshopping.dao.OrderItemDao.getOrderItemById"/>
	</resultMap>
	<insert id="saveComplain">
		INSERT INTO t_complain VALUES (#{id},#{type},#{content},#{img},#{cutScore},#{complainTime},#{checkFlag});
	</insert>
	<select id="getComplainById" resultMap="complainMap">
		SELECT * FROM t_complain WHERE id = #{0};
	</select>
	<select id="listComplainWaitCheck" resultMap="complainMap">
		SELECT * FROM t_complain
		<if test="type == 'wait'"> WHERE checkFlag = FALSE </if>
		<if test="type == 'checked'"> WHERE checkFlag = TRUE </if>
		LIMIT #{complainIndex},#{complainSize};
	</select>
	<select id="countComplainWaitCheck" resultType="Integer">
		SELECT count(*) FROM t_complain
		<if test="type == 'wait'">WHERE checkFlag = FALSE </if>
		<if test="type == 'checked'">WHERE checkFlag = TRUE </if> ;
	</select>
	<update id="updateComplain">
		UPDATE t_complain SET cutScore = #{cutScore}, checkFlag = #{checkFlag} WHERE id = #{id};
	</update>

	<!-- 卖家 -->
	<select id="listComplainBySellerId" resultMap="complainMap">
		SELECT t3.* from t_complain t3 LEFT JOIN
			(SELECT t1.seller_id,t2.* FROM t_order t1 LEFT JOIN t_order_item t2 ON t1.id = t2.order_id ) t4
				ON t3.id = t4.id WHERE t4.seller_id = 45 AND checkFlag = TRUE
				LIMIT #{complainIndex},#{complainSize};
	</select>
	<select id="countComplainBySellerId" resultType="Integer">
		SELECT count(*) from t_complain t3 LEFT JOIN
			(SELECT t1.seller_id,t2.* FROM t_order t1 LEFT JOIN t_order_item t2 ON t1.id = t2.order_id ) t4
				ON t3.id = t4.id WHERE t4.seller_id = 45 AND checkFlag = TRUE;;
	</select>
</mapper>