<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cslg.easyshopping.dao.GoodsDao">
	<resultMap id="goodsMap" type="edu.cslg.easyshopping.pojo.Goods">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="introduce" column="introduce" />
		<result property="minPrice" column="minPrice"/>
		<result property="discount" column="discount"/>
		<result property="saleCount" column="saleCount"/>
		<result property="goodsTime" column="goodsTime"/>
		<result property="status" column="status"/>
		<result property="activity" column="activity"/>
		<association property="type" column="type_id" select="edu.cslg.easyshopping.dao.GoodsTypeDao.getGoodsTypeById"/>
		<association property="seller" column="seller_id" select="edu.cslg.easyshopping.dao.SellerDao.getSellerById" />
		<association property="goodsImg" column="id" select="edu.cslg.easyshopping.dao.GoodsImgDao.getGoodsImgById"/>
		<collection property="standards" column="id" select="edu.cslg.easyshopping.dao.StandardDao.listStandardByGoodsId"/>
		<collection property="buyerEnjoy" column="id" select="edu.cslg.easyshopping.dao.BuyerDao.listBuyerByGoodsId"/>
	</resultMap>
	<insert id="saveGoods" useGeneratedKeys="true" keyProperty="id" parameterType="edu.cslg.easyshopping.pojo.Goods">
		INSERT INTO t_goods VALUES (NULL ,#{title},#{introduce},NULL ,0,0,#{goodsTime},#{type.id},#{seller.id},TRUE ,0,0);
	</insert>
	<update id="updateGoods" parameterType="edu.cslg.easyshopping.pojo.Goods">
		UPDATE t_goods SET title = #{title}, introduce = #{introduce}, minPrice = #{minPrice}, discount = #{discount}, saleCount = #{saleCount}, status = #{status}, activity = #{activity} WHERE id = #{id};
	</update>
	<select id="listGoodsBySeller" resultMap="goodsMap">
		SELECT * FROM t_goods WHERE status = TRUE AND seller_id = #{id} ORDER BY goodsTime DESC LIMIT #{goodsIndex},#{pageSize};
	</select>
	<select id="countGoodsBySeller" resultType="Integer">
		SELECT count(*) FROM t_goods WHERE status = TRUE AND seller_id = #{0};
	</select>
	<!--<select id="listGoodsAll" resultMap="goodsMap">
		SELECT * FROM t_goods WHERE status = TRUE ORDER BY goodsTime DESC LIMIT #{goodsIndex},#{pageSize};
	</select>
	<select id="countGoodsAll" resultType="Integer">
		SELECT count(*) FROM t_goods WHERE status = TRUE;
	</select>-->
	<select id="getGoodsById" resultMap="goodsMap">
		SELECT * FROM t_goods WHERE id = #{0} AND status = TRUE;
	</select>
	<select id="listGoodsByCategoryInSeller" resultMap="goodsMap">
		SELECT * FROM t_goods WHERE status = TRUE AND seller_id = #{sellerId} AND type_id = #{typeId} ORDER BY goodsTime DESC LIMIT 0,8 ;
	</select>
	<select id="listGoodsBySellerAll" resultMap="goodsMap">
		SELECT * FROM t_goods WHERE status = TRUE AND seller_id = #{0};
	</select>
	<select id="countBuyerLikeGoods" resultType="Integer">
		SELECT count(*) FROM t_goods tg RIGHT JOIN t_buyer_goods tbg ON tg.id = tbg.goods_id WHERE tg.id = #{0}
	</select>
	<select id="listGoodsByCategoryAndKey" resultMap="goodsMap">
		SELECT * FROM t_goods
			WHERE status = TRUE
				<if test="type != null"> AND type_id = #{type.id} </if>
				<if test="key != null"> AND title LIKE concat(concat("%",#{key}),"%") </if>
				<if test="low != null"> AND minPrice >= #{low} </if>
				<if test="high != null"> AND minPrice  &lt;= #{high} </if>
				<if test="carouselId != null"> AND activity = #{carouselId} </if>
				<if test="sellerId != null"> AND seller_id = #{sellerId} </if>
				<if test="bigType eq 1"> AND goodsTime - 86400 &lt; 0 ORDER BY goodsTime DESC </if>
				<if test="bigType eq 2"> ORDER BY saleCount DESC </if>
				<if test="bigType eq 3"> ORDER BY discount DESC </if>
				<if test="bigType eq 4"> ORDER BY goodReplyCount DESC </if>
				<if test="bigType eq null and (operate eq null || operate eq '')"> ORDER BY goodsTime DESC </if>
				<if test="operate eq 'lowToHigh'"> ORDER BY minPrice ASC </if>
				<if test="operate eq 'highToLow'"> ORDER BY minPrice DESC </if>
				LIMIT #{goodsIndex},#{pageSize};
	</select>
	<select id="countGoodsByCategoryAndKey" resultType="Integer">
		SELECT count(*) FROM t_goods
			WHERE status = TRUE
				<if test="type != null"> AND type_id = #{type.id} </if>
				<if test="key != null"> AND title LIKE concat(concat("%",#{key}),"%") </if>
				<if test="low != null"> AND minPrice >= #{low} </if>
				<if test="high != null"> AND minPrice  &lt;= #{high} </if>
				<if test="sellerId != null"> AND seller_id = #{sellerId} </if>
				<if test="carouselId != null"> AND activity = #{carouselId} </if>
				<if test="bigType eq 1"> AND goodsTime - 86400 &lt; 0 </if>;
	</select>
	<select id="listGoodsBuyerLike" resultMap="goodsMap">
		SELECT t2.* FROM t_buyer_goods t1 LEFT JOIN t_goods t2 ON t1.goods_id = t2.id WHERE t1.buyer_id = #{0} AND t2.status = TRUE ;
	</select>
</mapper>