<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cslg.easyshopping.dao.HostReplyDao">
	<resultMap id="hostReplyMap" type="edu.cslg.easyshopping.pojo.HostReply">
		<id property="id" column="id"/>
		<result property="content" column="content"/>
		<result property="hostReplyTime" column="hostReplyTime"/>
		<result property="handImg" column="handImg"/>
	</resultMap>
	<select id="getHostReplyById" resultMap="hostReplyMap">
		SELECT * FROM t_host_reply WHERE id = #{0} ;
	</select>
	<insert id="saveHostReply" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_host_reply VALUES (NULL ,#{content}, #{hostReplyTime});
	</insert>
</mapper>