<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cslg.easyshopping.dao.OrderDao">
	<resultMap id="orderMap" type="edu.cslg.easyshopping.pojo.Order">
		<id property="id" column="id"/>
		<result property="orderTime" column="orderTime"/>
		<result property="orderNum" column="orderNum"/>
		<result property="remark" column="remark"/>
		<result property="delFlag" column="delFlag"/>
		<association property="address" column="address_id" select="edu.cslg.easyshopping.dao.AddressDao.getAddressById"/>
		<association property="buyer" column="buyer_id" select="edu.cslg.easyshopping.dao.BuyerDao.getBuyerById"/>
		<association property="seller" column="seller_id" select="edu.cslg.easyshopping.dao.SellerDao.getSellerById"/>
		<association property="orderStatus" column="status_id" select="edu.cslg.easyshopping.dao.OrderStatusDao.getOrderStatusById"/>
		<collection property="orderItems" column="id" select="edu.cslg.easyshopping.dao.OrderItemDao.listOrderItemByOrderId"/>
	</resultMap>
	<!-- 买家 -->
	<insert id="saveOrder" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_order VALUES (NULL ,#{orderTime},#{orderNum},#{buyer.id},#{seller.id},#{address.id},#{remark},#{orderStatus.id},#{delFlag});
	</insert>
	<select id="getOrderById" resultMap="orderMap">
		SELECT * FROM t_order WHERE id = #{0};
	</select>
	<select id="listOrderByMoreStatusAndBuyer" resultMap="orderMap">
		SELECT * FROM t_order WHERE
		<if test="small != null and big != null">
				status_id &gt;= #{small} AND status_id &lt;= #{big} AND
			</if>
			buyer_id = #{buyerId} AND delFlag = TRUE
			ORDER BY orderTime DESC
			LIMIT #{orderIndex},#{pageSize};
	</select>
	<select id="countOrderByMoreStatusAndBuyer" resultType="Integer">
		SELECT count(*) FROM t_order WHERE
			<if test="small != null and big != null">status_id &gt;= #{small} AND status_id &lt;= #{big} AND</if>
			buyer_id = #{buyerId} AND delFlag = TRUE ;
	</select>
	<update id="deleteOrder">
		UPDATE t_order SET delFlag = FALSE WHERE id = #{0} ;
	</update>
	<update id="updateOrderStatus">
		UPDATE t_order SET status_id = #{orderStatus.id} WHERE id = #{id} ;
	</update>

	<!-- 卖家 -->
	<select id="listOrderBySellerId" resultMap="orderMap">
		SELECT * FROM t_order WHERE seller_id = #{sellerId} ORDER BY orderTime DESC LIMIT #{orderIndex},#{orderSize} ;
	</select>
	<select id="countOrderBySellerId" resultType="Integer">
		SELECT count(*) FROM t_order WHERE seller_id = #{0};
	</select>
	<select id="listOrderByMoreStatusAndSeller" resultMap="orderMap">
		SELECT * FROM t_order WHERE
			<if test="small != null and big != null">
				status_id &gt;= #{small} AND status_id &lt;= #{big} AND
			</if>
				seller_id = #{sellerId}
				ORDER BY orderTime DESC
				LIMIT #{orderIndex},#{orderSize};
	</select>
	<select id="countOrderByMoreStatusAndSeller" resultType="Integer">
		SELECT count(*) FROM t_order WHERE
			<if test="small != null and big != null">
				status_id &gt;= #{small} AND status_id &lt;= #{big} AND
			</if>
				seller_id = #{sellerId};
	</select>

</mapper>