<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cslg.easyshopping.dao.StuffDao">
	<resultMap id="stuffMap" type="edu.cslg.easyshopping.pojo.Stuff">
		<id property="id" column="id"/>
		<result property="faceImg" column="faceImg"/>
		<result property="oppositeImg" column="oppositeImg"/>
		<result property="handImg" column="handImg"/>
		<result property="stuffStatus" column="stuffStatus"/>
		<result property="reason" column="reason"/>
		<association property="seller" column="id" select="edu.cslg.easyshopping.dao.SellerDao.getSellerAllById"/>
	</resultMap>

	<insert id="saveStuff" parameterType="edu.cslg.easyshopping.pojo.Stuff">
		INSERT INTO t_stuff VALUES (#{id} ,#{faceImg},#{oppositeImg},#{handImg},#{stuffStatus},#{reason})
	</insert>
	<select id="listStuffByStatus" resultMap="stuffMap">
		SELECT * FROM t_stuff WHERE stuffStatus = FALSE
			LIMIT #{stuffIndex},#{stuffSize};
	</select>
	<select id="countStuffByStatus" resultType="Integer">
		SELECT count(*) FROM t_stuff WHERE stuffStatus = FALSE ;
	</select>
	<select id="getStuffById" resultMap="stuffMap">
		SELECT * FROM t_stuff WHERE id = #{0};
	</select>
	<update id="updateStuff">
		UPDATE t_stuff SET faceImg = #{faceImg}, oppositeImg = #{oppositeImg}, handImg = #{handImg}, stuffStatus = #{stuffStatus}, reason = #{reason} WHERE id = #{id};
	</update>
</mapper>